<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - dt191g_mom1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/dt191g_mom1.styles.css" asp-append-version="true">
</head>

<body>
    <!-- Header -->
    <header class="header">

        <div class="container">
            <div class="row header-row">

                <!-- Första kolumnen -->
               <div class="col-left">
                    <h1>dt191g_mom1</h1>
                </div>

                <!-- Andra kolumnen -->
               <div class="col-right">
                    <p>Dagens datum är: @Model.CurrentDateTime</p>  <!--Hämtar funktion från RazorModel -->
                </div>

            </div>
        </div>
    </header>

    <!-- Main content area -->
    <div class="main-container"> 
        <div class="row">

            <!-- Left column: Navigation -->
            <div class="nav-column">
                <h3>Navigation</h3>
                <ul class="nav-list">

                    <!--Använder asp-page för att länka till Razor-sidor -->
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/About">Om sidan</a></li>
                </ul>

                <!--Knapp för darkmode-->
                <button id="darkModeToggle">Växla Dark Mode</button>
            
            </div>


            <!-- Right column: Välkomsttext -->
            <div class="content-column">
                <main role="main">
                    @RenderBody() <!-- Här renderas huvudtexten från sidan -->
                </main>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>Av: Gustav Brodin -- Kontakta mig via epost: gueb0900@student.miun.se</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
