@page
@model dt191g_mom1.Pages.RazorModel
@{
    ViewData["Title"] = "Om oss";
}
<div class="text-center">
    <h1 class="display-4">Om mig</h1>

<hr>
<h2>Hej!</h2>
    <p>Gustav Brodin heter jag.</p>
    <p>Bor i Ösersund med fru och barn.</p>
    
</div>
