@page
@model dt191g_mom1.Pages.RazorModel //Kopplar till RazorModel eftersom CurrentDateTime finns i _Layout.cshtml som delas av samtliga Razor-sidor
@{
    ViewData["Title"] = "Start";
}

<div class="text">
    <h1>Välkommen!</h1>

    <p>Välkommen till min första Razor-pages applikation!</p>
        <p>SidaWebbplatsen är skapad utefter en wireframe tillhandahållen av MIUN.</p>
                <p>Webbplatsen är designad med egen CSS, samt en enklare JS-funktion</p>

</div>
