@page
@model dt191g_mom1.Pages.RazorModel     //Kopplar till RazorModel eftersom CurrentDateTime finns i _Layout.cshtml som delas av samtliga Razor-sidor
@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>

    <p>Bla Bla bla</p>
    <p>Bla Bla bla</p>
    <p>Bla Bla bla</p>
    <p>Bla Bla bla</p>

</div>
