@page
@model dt191g_mom1.Pages.RazorModel

@{
    ViewData["Title"] = "Razor";
}

<div class="text-left">
    <h1 class="display-4">Razor</h1>

    <h2>Information</h2>

    <br>
    
    <h3>Datum/klockslag:</h3> <p>@Model.CurrentDateTime</p> <!--Hämtar in Dagens datum inkl tid från RazorModel-->

    <br>

    <p>@Model.CheckIfFriday()</p> <!--Amropar metod från RazorModel-->

    <br>

    <h4></style:>Kurser jag läst</h4>

    <div>
        <ul>
            <!--Skriver ut kurser från <List> in RazorModel-->
            @foreach (var course in Model.Courses)
            {
                <li>@course</li>
            }
        </ul>
    </div>

</div>
